p {
  display: flex;
  align-items: center;
  text-align: center;
  
  font-size: clamp(0.5rem, 1vw + 0.25rem, 0.75rem);

  a {
    text-decoration: none;

    &:hover {
      color: #757575;
    }
  }
}