* {
  margin: 0;
  padding: 0;
  font-family: 'Smooch Sans';
  font-style: normal;
  font-weight: 300;

  color: white;
}

body {
  background-color: #212121;
}

::-webkit-scrollbar {
  display: none;
}

@import './_layout.scss';
@import './_button.scss';
@import './_modele.scss';
@import './_comment.scss';